<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/productList']"> Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/register']"> Register</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']"> Login</a>
                </li> -->
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="#" target="_blank">Marcin Starostecki</a> for a better web.
        </div>
    </div>
</footer>