<table class="table">
    <thead>
        <tr>
            <th *ngFor="let column of headers" class="text-left">
                {{column}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of reservations , let i=index" class="text-left">
            <td>{{i+1}}</td>
            <dt>{{p.userName}}</dt>
            <!-- <dt style="max-width: 60px;">
          <img height="60" width="60" alt="Photo" src={{p.imageUrl}}>
        </dt> -->
            <td>{{p.productName}}</td>
            <td>{{p.productName}}</td>
            <td>{{p.dateRange.start}}</td>
            <td>{{p.dateRange.end}}</td>
            <td class="td-actions">
                <!-- <button type="button " rel="tooltip " class="btn btn-info btn-round ">
                  <i class="material-icons ">person</i>
              </button> -->
                <button (click)="openModalToEdit(p)" type=" button " rel="tooltip " class="btn btn-success btn-round ">
                  <i class="material-icons ">edit</i>
              </button>
                <button (click)="deleteReservation(p.productId, p.userId)" type="button " rel="tooltip " class="btn btn-danger btn-round ">
              <i class="material-icons ">close</i>
            </button>
            </td>
        </tr>
    </tbody>
</table>
