<table class="table">
    <thead>
        <tr>
            <th *ngFor="let column of headers" class="text-left">
                {{column}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of users , let i=index" class="text-left">
            <!-- <td>{{p.id}}</td> -->
            <td>{{i+1}}</td>
            <td>{{p.name}}</td>
            <td>{{p.lastName}}</td>
            <td>{{p.email}}</td>
            <td>{{p.isActive}}</td>
            <td class="td-actions">
                <!-- <button type="button " rel="tooltip " class="btn btn-info btn-round ">
                  <i class="material-icons ">person</i>
              </button> -->
                <button (click)="openModalToEdit(p)" type=" button " rel="tooltip " class="btn btn-success btn-round ">
                  <i class="material-icons ">edit</i>
              </button>
                <button (click)="deleteUser(p.id)" type="button " rel="tooltip " class="btn btn-danger btn-round ">
              <i class="material-icons ">close</i>
            </button>
            </td>
        </tr>
    </tbody>
</table>
