.login-content {
    background: url("./../../../../../assets/img/background4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    position: fixed;
    /* or absolute */
    top: 30%;
    left: 40%;
}