<div *ngIf="authentication" class="profile-page">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/background4.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="../assets/img/faces/marc.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            </div>
                            <div class="name">
                                <h2>Marcin Starostecki</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#rent" role="tab" data-toggle="tab">
                                        <i class="material-icons">camera</i> Wypożyczone
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#editprofile" role="tab" data-toggle="tab">
                                        <i class="material-icons">palette</i> Edytuj profil
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-space">
                    <div class="tab-pane active text-center gallery" id="rent">
                        <div class="row">
                            <!-- <app-reservationslist></app-reservationslist> -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th *ngFor="let column of headers" class="text-left">
                                            {{column}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of reservations , let i=index" class="text-left">
                                        <td>{{i+1}}</td>
                                        <dt style="max-width: 60px;">
                                          <img height="60" width="60" alt="Photo" src={{p.imageUrl}}>
                                        </dt>
                                        <td>{{p.productName}}</td>
                                        <td>{{p.dateRange.start}}</td>
                                        <td>{{p.dateRange.end}}</td>
                                        <td class="td-actions">
                                            <button (click)="deleteReservation(p.productId, p.userId)" type="button " rel="tooltip " class="btn btn-danger btn-round ">
                                              <i class="material-icons ">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="editprofile">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group padding-top-bottom-20">
                                                <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                                <input type="text" class="form-control" placeholder="Email... " />
                                            </div>
                                            <div class="input-group padding-top-bottom-20">
                                                <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                                <input type="text" class="form-control" placeholder="Email... " />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group padding-top-bottom-20">
                                                <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                                <input type="text" class="form-control" placeholder="Email... " />
                                            </div>
                                            <div class="input-group padding-top-bottom-20">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" class="form-control inputFileVisible" placeholder="Single File" placeholder="Single File" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                                    <span class="input-group-btn">
                                                      <button type="button" class="btn btn-fab btn-round btn-primary">
                                                          <i class="material-icons">attach_file</i>
                                                      </button>
                                                  </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 ">
                                    <input type="submit " value="Save " class="btn btn-simple btn-primary btn-lg " />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!authentication" class="profile-page">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/background4.jpg');"></div>
    <div class="main main-raised">
        <div class="row">
            <div class="col-md-12">
                <h1 style="padding-left: 20px;"> You are not authenticadet. Login first</h1>
            </div>
        </div>
    </div>
</div>