<form [formGroup]="editForm">
    <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Edit reservation</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div *ngIf="reservation" class="modal-body">
        <div class="content">
            <input type="hidden" [(ngModel)]="reservation.userId" id="userId" formControlName="userId" />
            <input type="hidden" [(ngModel)]="reservation.productId" id="productId" formControlName="productId" />
            <div class="input-group padding-top-bottom-20">
                <input [(ngModel)]="reservation.start" id="start" formControlName="start" type="text" class="form-control" placeholder="Start" />
            </div>
            <div class="input-group padding-top-bottom-20">
                <input [(ngModel)]="reservation.end" id="end" formControlName="end" type="text" class="form-control" placeholder="End" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="activeModal.dismiss('Close')" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="update(editForm)" type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
    </div>
</form>
