<div class="profile-page">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/background6.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="../assets/img/faces/marc.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            </div>
                            <div class="name">
                                <h3 class="title">Administrator</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a (click)="allProducts.getAll()" class="nav-link active" href="#products" role="tab" data-toggle="tab">
                                        <i class="material-icons">camera</i> Products
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a (click)="allUsers.getAllUsers()" class="nav-link" href="#users" role="tab" data-toggle="tab">
                                        <i class="material-icons">palette</i> Users
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a (click)="allReservations.getAllReservations()" class="nav-link" href="#reservations" role="tab" data-toggle="tab">
                                        <i class="material-icons">palette</i>All Reservations
                                    </a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a (click)="productslistComponent.openModal()" class="nav-link" role="tab" data-toggle="tab">
                                        <i class="material-icons">palette</i>Modal test
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="tab-content tab-space">
                    <div class="tab-pane active text-center gallery" id="products">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <router-outlet name="productsOutlet"></router-outlet> -->
                                <app-productslist #allProducts></app-productslist>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="users">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <router-outlet name="usersOutlet"></router-outlet> -->
                                <app-userslist #allUsers></app-userslist>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="reservations">
                        <div class="row">
                            <div class="col-md-12">
                                <app-allreservationslist #allReservations></app-allreservationslist>
                                <!-- <app-reservationslist></app-reservationslist> -->
                                <!-- <router-outlet name="reservationsOutlet"></router-outlet> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
