<div class="page-header header-filter" style="background-image: url('../assets/img/background6.jpg'); background-size: cover; background-position: top center;">
    <div class="container" style="padding-top: 40px;">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="card card-signup">
                    <form [formGroup]="reservationForm" (ngSubmit)="sendReservation(reservationForm)">
                        <div class="card-header">
                            <h4 class="card-title text-center">Rezerwacja</h4>
                        </div>
                        <div *ngIf="product" class="card-body">
                            <div class="header header-danger text-center" style="color: black;">
                                <h1>{{product.name}}</h1>
                                <h2>{{product.description}}</h2>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <!-- <input type="hidden" [(ngModel)]="selectedProduct.id" id="id" formControlName="id" /> -->
                                    <div class="col-md-5">
                                        <div class="input-group padding-top-bottom-20">
                                            <input matInput [matDatepicker]="start" formControlName="start" type="datetime" class="form-control" placeholder="Date from ">
                                            <mat-datepicker-toggle [for]="start">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #start></mat-datepicker>
                                        </div>
                                        <div class="input-group padding-top-bottom-20">
                                            <input matInput [matDatepicker]="end" formControlName="end" type="datetime" class="form-control" placeholder="Date to ">
                                            <mat-datepicker-toggle [for]="end">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #end></mat-datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                    <div *ngIf="product" class="col-md-6">
                                        <img src={{product.photoUrl}} width=200 height="200">
                                        <input type="hidden" id="userId" formControlName="userId">
                                        <input type="hidden" id="productId" formControlName="productId">
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <input type="submit" value="Zarezerwuj" class="btn btn-simple btn-primary btn-lg" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>