<form [formGroup]="editForm">
    <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Edit Product</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Close')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="product" class="modal-body">
        <div class="content">
            <input type="hidden" [(ngModel)]="product.id" id="id" formControlName="id" />
            <div class="input-group padding-top-bottom-20">
                <input [(ngModel)]="product.name" id="name" formControlName="name" type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="input-group padding-top-bottom-20">
                <input [(ngModel)]="product.photoUrl" id="photoUrl" formControlName="photoUrl" type="text" class="form-control" placeholder="Url" />
            </div>
            <div class="input-group padding-top-bottom-20">
                <textarea [(ngModel)]="product.description" id="description" formControlName="description" class="form-control" placeholder="Description" rows="3"></textarea>
                <!-- <input [value]="product.description" (input)="product.description = $event.target.value" id="description" formControlName="description" type="text" class="form-control" placeholder="Description" /> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="activeModal.dismiss('Close')" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="update(editForm)" type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
    </div>
</form>
