<table class="table" style="margin: 0; padding: 0;">
    <thead>
        <tr>
            <th *ngFor="let column of headers" class="text-left">
                {{column}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products , let i=index">
            <td>{{i+1}}</td>
            <dt (click)="onSelect(p)">
            <img alt="Photo" src={{p.photoUrl}}
                  width=50 height=50>

          </dt>
            <td>{{p.name}}</td>
            <td>{{p.description}}</td>
            <td class="td-actions text-right ">
                <!-- <button type="button " rel="tooltip " class="btn btn-info btn-round ">
                          <i class="material-icons ">person</i>
                      </button> -->
                <button (click)="openModalToEdit(p)" type=" button " rel="tooltip " class="btn btn-success btn-round ">
                          <i class="material-icons ">edit</i>
                      </button>
                <button (click)="delete(p)" type="button " rel="tooltip " class="btn btn-danger btn-round ">
              <i class="material-icons ">close</i>
              </button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" type="text" class="form-control" placeholder="yyyy-mm-dd" name="dp">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>
