<form [formGroup]="editForm">
    <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Edit user</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Close')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="user" class="modal-body">
        <div class="content">
            <input type="hidden" [(ngModel)]="user.id" id="id" formControlName="id" />
            <div class="input-group padding-top-bottom-20">
                <input [(ngModel)]="user.name" id="name" formControlName="name" type="text" class="form-control" placeholder="Name" />
            </div>
            <div class="input-group padding-top-bottom-20">
                <input [(ngModel)]="user.lastName" id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last Name" />
            </div>
            <div class="input-group padding-top-bottom-20">
                <input [(ngModel)]="user.email" id="email" formControlName="email" type="text" class="form-control" placeholder="Email" />
            </div>
            <div class="input-group padding-top-bottom-20">
                <input [(ngModel)]="user.password" id="password" formControlName="password" type="hidden" class="form-control" placeholder="password" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="activeModal.dismiss('Close')" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="update(editForm)" type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
    </div>
</form>
