<div class="page-header header-filter" style="background-image: url('../assets/img/background6.jpg'); background-size: cover; background-position: top center;">
    <div class="container" style="padding-top: 40px;">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div class="card card-signup">
                    <div class="card-header">
                        <h4 class="card-title text-center">Register</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
                            <div class="header header-danger text-center">
                                <h4></h4>
                            </div>
                            <div class="content">
                                <div class="input-group padding-top-bottom-20">
                                    <span class="input-group-addon">
                                      <i class="material-icons">email</i>
                                  </span>
                                    <input id="email" formControlName="email" type="text" class="form-control" placeholder="Email... " />
                                </div>
                                <div class="input-group padding-top-bottom-20">
                                    <span class="input-group-addon">
                                      <i class="material-icons">email</i>
                                  </span>
                                    <input id="password" formControlName="password" type="password" class="form-control" placeholder="Password... " />
                                </div>
                                <div class="input-group padding-top-bottom-20">
                                    <span class="input-group-addon">
                                    <i class="material-icons">email</i>
                                </span>
                                    <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm Password... " />
                                </div>
                                <div class="input-group padding-top-bottom-20">
                                    <span class="input-group-addon">
                                    <i class="material-icons">email</i>
                                </span>
                                    <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="First Name " />
                                </div>
                                <div class="input-group padding-top-bottom-20">
                                    <span class="input-group-addon">
                                  <i class="material-icons">email</i>
                              </span>
                                    <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last Name " />
                                </div>
                            </div>
                            <div class="footer">

                            </div>
                            <div class="footer text-center">
                                <input type="submit" value="Register" class="btn btn-simple btn-primary btn-lg" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>