.product {
    display: inline;
    padding: 0.9em;
}

.wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 400px 400px;
}

.row {
    display: flex;
}


/* Create two equal columns that sits next to each other */

.column {
    flex: 30%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}
