<div class="profile-page">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/background1.jpg');">
        <div class="main main-raised" style="background-color: white;width: 55%;height: 80px;position: absolute;left: 50%;top: 70%;transform: translate(-50%, -50%);">
            <form [formGroup]="searchForm" (ngSubmit)="searchProduct(searchForm)">
                <div class="row" style="padding: 15px;">
                    <div class="col-md-4">
                        <div class="input-group">
                            <input matInput formControlName="query" type="text" class="form-control" placeholder="Input product name ">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <select id="categories" formControlName="categoryId" class="browser-default custom-select">
                          <option selected value="5e790a77fabd934f241ae89a">Produkty ochronne</option>
                          <option value="5e790a99fabd934f241ae89b">Narzędzia pomiarowe</option>
                          <option value="5e790a99fabd934f241ae89c">Narzędzia ręczne</option>
                        </select>
                    </div>
                    <div class="col-md-3" style="text-align: right;">
                        <button type="submit" class="btn btn-rose">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="main main-raised">
        <div class="row">
            <div class="col-md-12">
                <div style="width: auto; height: auto; text-align: center;">
                    <div style="display: inline-table;" *ngFor="let p of products , let i=index" (click)="onSelect(p)" data-toggle="modal" data-target="#editModal">
                        <div style=" background: #ffffff; padding: 10px 10px; margin-top: 10px; ">
                            <div style=" border: 1px solid grey; width: 250px; height: 250px;">
                                <img alt="Photo " src={{p.photoUrl}} width=200 height=200>
                                <div style="padding: 5px; vertical-align: bottom;">
                                    {{p.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <ul>
                    <li class="product" *ngFor="let p of products , let i=index" (click)="onSelect(p)" data-toggle="modal" data-target="#editModal" style="padding: 10px 10px 10px 10px;">
                        <img alt="Photo " src={{p.photoUrl}} width=250 height="250">
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div *ngIf="selectedProduct " class="modal-content">
            <div class="modal-header">
                <h2>Reservation</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <img src={{selectedProduct.photoUrl}} width=300 height="300">
                    <div>
                        <h3>{{selectedProduct.name}}</h3>
                    </div>
                    <div>
                        <h5>{{selectedProduct.description}}</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <h2 *ngIf="!authentication" style="color: red; text-align: left;">YOU HAVE TO BE LOGED IN TO MAKE RESERVATION</h2>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button *ngIf="authentication" (click)="reserve()" type="submit" class="btn btn-primary" data-dismiss="modal">Reserve</button>
            </div>
        </div>
    </div>
</div>

<!-- javascript for init -->
<script>
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    });
</script>
