/* You can add global styles to this file, and also import other style files */

.padding-top-bottom-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
