/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@syncfusion/ej2/material.css";
.padding-top-bottom-20 {
    padding-top: 15px;
    padding-bottom: 15px;
}