<div class="page-header header-filter" style="background-image: url('../assets/img/background6.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="card card-signup">
                    <div class="card-header">
                        <h4 class="card-title text-center">Register</h4>
                    </div>
                    <div class="card-body">
                        <h4>Register successful</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>