<div class="profile-page">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/background1.jpg');"></div>
    <div class="main main-raised">
        <div class="row">
            <div class="col-md-12">
                <!-- <h2>Products from backend</h2>
                <ul class="heroes">
                    <li *ngFor="let p of products">
                        <span>{{p.id}}</span> {{p.name}}
                    </li>
                </ul> -->
                <table class="table" style="margin: 0; padding: 0;">
                    <thead>
                        <tr>
                            <th *ngFor="let column of headers" class="text-left">
                                {{column}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of products , let i=index">
                            <td>{{i+1}}</td>
                            <dt (click)="onSelect(p)">
                              <img alt="Photo" src={{p.photoUrl}}
                                    width=150 height="150">

                            </dt>
                            <td>{{p.name}}</td>
                            <td>{{p.description}}</td>
                            <td class="td-actions text-right ">
                                <!-- <button type="button " rel="tooltip " class="btn btn-info btn-round ">
                                            <i class="material-icons ">person</i>
                                        </button> -->
                                <button (click)="onSelect(p)" data-toggle="modal" data-target="#editModal" type=" button " rel="tooltip " class="btn btn-success btn-round ">
                                            <i class="material-icons ">edit</i>
                                        </button>
                                <button (click)="onSelect(p)" data-toggle="modal" data-target="#deleteModal" type="button " rel="tooltip " class="btn btn-danger btn-round ">
                                <i class="material-icons ">close</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div *ngIf="selectedProduct" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="editForm">
                <div class="modal-body">
                    <div class="content">
                        <input type="hidden" [(ngModel)]="selectedProduct.id" id="id" formControlName="id" />
                        <div class="input-group padding-top-bottom-20">
                            <input [(ngModel)]="selectedProduct.name" id="name" formControlName="name" type="text" class="form-control" placeholder="Name" />
                        </div>
                        <div class="input-group padding-top-bottom-20">
                            <input [(ngModel)]="selectedProduct.photoUrl" id="photoUrl" formControlName="photoUrl" type="text" class="form-control" placeholder="Url" />
                        </div>
                        <div class="input-group padding-top-bottom-20">
                            <textarea [(ngModel)]="selectedProduct.description" id="description" formControlName="description" class="form-control" placeholder="Description" rows="3"></textarea>
                            <!-- <input [value]="selectedProduct.description" (input)="selectedProduct.description = $event.target.value" id="description" formControlName="description" type="text" class="form-control" placeholder="Description" /> -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button (click)="update(editForm)" type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                    <!-- <input (click)="edit(editForm)" type="submit" value="Save changes" class="btn btn-simple btn-primary btn-lg" /> -->
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div *ngIf="selectedProduct" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form [formGroup]="deleteForm">
                <div class="modal-body">
                    <div class="content">
                        <input type="hidden" [(ngModel)]="selectedProduct.id" id="id" formControlName="id" />
                        <div class="input-group padding-top-bottom-20">
                            <input [(ngModel)]="selectedProduct.name" id="name" formControlName="name" type="text" class="form-control" placeholder="Name" readonly />
                        </div>
                        <div class="input-group padding-top-bottom-20">
                            <input [(ngModel)]="selectedProduct.photoUrl" id="photoUrl" formControlName="photoUrl" type="text" class="form-control" placeholder="Url" readonly />
                        </div>
                        <div class="input-group padding-top-bottom-20">
                            <textarea [(ngModel)]="selectedProduct.description" id="description" formControlName="description" class="form-control" placeholder="Description" rows="3" readonly></textarea>
                            <!-- <input [value]="selectedProduct.description" (input)="selectedProduct.description = $event.target.value" id="description" formControlName="description" type="text" class="form-control" placeholder="Description" /> -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button (click)="delete(deleteForm)" type="submit" class="btn btn-primary" data-dismiss="modal">Delete</button>
                    <!-- <input (click)="edit(editForm)" type="submit" value="Save changes" class="btn btn-simple btn-primary btn-lg" /> -->
                </div>
            </form>
        </div>
    </div>
</div>